*{
    margin: 0;
    padding: 0;
  }
  
  #main{
      width: 100%;
      height: 200vh;
      background:  linear-gradient(rgba(171, 196, 207, 0.459), rgba(149, 199, 223, 0.651)),url("../img/background.jpg");
      background-size: cover;
      position: relative;
      margin-bottom: -50px;
      background-position: right 50% bottom 15%;
      background-repeat: no-repeat;
      background-attachment: fixed;
  }
  
  #main .main-container {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    top: -300px;
  }
  


.navbar{
    z-index: 1;
    background: linear-gradient(-180deg, #f6f4eb 29%, #91c8e4 65%, #749bc2 87%, #4682a9 98%);
    background-size: 100% 400%;
    animation: gradient 7s linear infinite;
  }

  
  .nav-link.btn-primary:hover {
    background-color: rgb(0, 92, 116);
    color: black;
  }
  
  .nav-link.btn-primary{
    display: inline-block;
    padding: 10px;
    margin-left: 30px;
    border: none;
    background-color: #4393c9;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  @keyframes gradient {
    0%, 100% {
        background-position: 50% 0%;
    }
    25% {
        background-position: 50% 25%;
    }
    50% {
        background-position: 50% 50%;
    }
    75% {
        background-position: 50% 75%;
    }
  }


  .nav-item {
    margin: 0 30px;
  }
  
  .navbar-nav {
    display: flex;
    align-items: center;
  }
  
  @media (max-width: 767px) {
   
    .nav-item {
      margin: 5px 0;
    }
  
    .nav-link.btn {
      padding: 8px 15px;
    }
  
    .navbar-brand img {
      height: 120px;
      margin-right: 10px;
    }
  
  }


  .item {
    height: 450px;}


   .images {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
   }


   .yazı{
    color:#F6F4EB;
   margin-top: 50px;
   height: 5px;
   }
   
   .carousel-inner{
    width: 75%;
   }

   #about{
    display: relative;
    z-index: 1;
    height: 100vh;
    margin: 0;
    padding: 10px;
   }
   
   .about-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    }

   .about-container {
    position: relative;
    z-index: 1;
    padding: 20px;
    text-align: center;
    margin-top: 50px;
  }


  @media (max-width: 768px) {
    .about-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        font-size: 16px;
    }
}


  .row > h1{
    text-align: center;
    color: #F6F4EB;
  }


  .info-card{
    display: flex;
    align-items: center;
    gap: 20px; 
    height: 100%;
    margin-top: 60px;
    flex-direction: column;
    padding: 10%;
}

  .info-card h2{
    color: rgb(1, 61, 95);
  }

  .card{
    display: flex;
    flex-direction: row;
    height: 300px;
    width: 100%;
    
  }

  .feature{
    background-color: #528AAE;
    box-shadow: 1px 10px 12px rgba(0, 0, 0, 1.0);
  }


  .card-body{
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: auto;
    background-color: #F6F4EB;
    text-align: center;
    box-shadow: 10px 10px 12px rgba(0, 0, 0, 5.0);
  }

  .card-body h2{
    font-family: 'DM Serif Display', serif;
    letter-spacing: 1px;
    text-align: center;
   
  }

  .card-body p{
    font-family: 'Rubik', sans-serif;
    text-shadow: 1px 1px 2px rgba(0, 174, 255, 0.5);
    font-size: small;
  }

  @media (max-width: 768px) {
    
    .info-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      padding: 10%;
    }

    .card {
        width: 90%;
        margin-bottom: 50px;
    }
  
   
    .card-body {
      font-size: 16px;
      height: auto;
    }
  
    .card-body h2 {
      font-size: 20px;
    }

}

/*Our Team*/

/* TITRE */
h1 {
  margin-top: 0;
  font-size: 3rem;
  display: inline-block;
}
h1 div {
  position: relative;
  float: left;
}
h1 div:first-child {
  color: #3498db;
  margin-right: 1rem;
}
/* PROFIL */
.blog .carousel-indicators {
	left: 0;
	top: auto;
    bottom: -40px;

}

/* The colour of the indicators */
.blog .carousel-indicators li {
    background: #a3a3a3;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    margin-bottom:10px;
    
}

.blog .carousel-indicators .active {
background: #707070;
margin-bottom:10px;
}

.our-team-section {
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
}
.our-team-section:before {
  position: absolute;
  top: -0;
  left: 0;
  content: " ";
  background: url(img/service-section-bottom.png);
  background-size: 100% 100px;
  width: 100%;
  height: 100px;
  float: left;
  z-index: 99;
}
.our-team {
  padding: 0 0 40px;
  background: #f9f9f9;
  text-align: center;
  overflow: hidden;
  position: relative;
  border-bottom: 5px solid #00325a;
}
.our-team:hover {
  border-bottom: 5px solid #2f2f2f;
}

.our-team .pic {
  display: inline-block;
  width: 130px;
  height: 130px;
  margin-bottom: 50px;
  z-index: 1;
  position: relative;
}
.our-team .pic:before {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #00325a;
  position: absolute;
  bottom: 135%;
  right: 0;
  left: 0;
  opacity: 1;
  transform: scale(3);
  transition: all 0.3s linear 0s;
}
.our-team:hover .pic:before {
  height: 100%;
  background: #2f2f2f;
}
.our-team .pic:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #ffffff00;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: all 0.3s linear 0s;
}
.our-team:hover .pic:after {
  background: #145889;
}
.our-team .pic img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.9s ease 0s;
  box-shadow: 0 0 0 14px #f7f5ec;
  transform: scale(0.7);
  position: relative;
  z-index: 2;
}
.our-team:hover .pic img {
  box-shadow: 0 0 0 14px #f7f5ec;
  transform: scale(0.7);
}
.our-team .team-content {
  margin-bottom: 30px;
}
.our-team .title {
  font-size: 22px;
  font-weight: 700;
  color: #4e5052;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin-bottom: 5px;
}
.our-team .post {
  display: block;
  font-size: 15px;
  color: #4e5052;
  text-transform: capitalize;
}
.our-team .social {
  width: 100%;
  padding-top: 10px;
  margin: 0;
  background: #2f2f2f;
  position: absolute;
  bottom: -100px;
  left: 0;
  transition: all 0.5s ease 0s;
}
.our-team:hover .social {
  bottom: 0;
}
.our-team .social li {
  display: inline-block;
}
.our-team .social li a {
  display: block;
  padding-top: 6px;
  font-size: 15px;
  color: #fff;
  transition: all 0.3s ease 0s;
}
.our-team .social li a:hover {
  color: #145889;
  background: #f7f5ec;
}
@media only screen and (max-width: 990px) {
  .our-team {
    margin-bottom: 10px;
  }
}