*{
  margin: 0;
  padding: 0;
}

body{
  height: 100vh;
}

#main{
    width: 100%;
    height: 200vh;
    background:  linear-gradient(rgba(171, 196, 207, 0.459), rgba(149, 199, 223, 0.651)),url("../img/background.jpg");
    background-size: cover;
    position: relative;
    margin-bottom: -50px;
    background-size: content;
    background-position: right 50% bottom 15%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#main .main-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  top: -700px;
}

.navbar{
  z-index: 1;
  background: linear-gradient(-45deg, #388CCB, #3498DB, #3498DB, #f6f4eb);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

.navbar-nav{
  max-width: 70%;
}


.nav-link.btn-primary{
  display: inline-block;
  padding: 10px 20px;
  margin-right: 50px;
  border: none;
  background-color: #3498db; /* Primary renk */
  color: white;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.nav-link.btn-primary:hover{
  background-color: #2980b9;
}

.header-container {
    display: table;
    width: 100%;
    margin: auto;
   
}

.site-logo {
    float: left;
    padding: 17px 0px;
}


.yeslogo{
    width: 150px;
}


.item {
    height: 450px;}


   .images {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
   }


   .yazı{
    color:#F6F4EB;
   margin-top: 50px;
   height: 5px;
   }
   
   .carousel-inner{
    width: 75%;
   }

   #about{
    display: relative;
    z-index: 1;
    height: 100vh;
    margin: 0;
    padding: 10px;
   }

   .about-container {
    position: relative; 
    z-index: 1;
    padding: 20px;
    text-align: center;
    transform: translateY(30%);
    margin-top: 50px;
   
  }

  

  @media (max-width: 768px) {
    .about-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        font-size: 14px;
    }
}


  .row > h1{
    text-align: center;
    color: #F6F4EB;
  }


  .info-card{
    margin-top: 60px;
    flex-direction: column;
    padding: 10%;
}

  .info-card h1{
    color: aqua;
  }

  .card{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    
  }

  .feature{
    background-color: #528AAE;
    box-shadow: 10px 10px 12px rgba(0, 0, 0, 3.0);
  }


  .card-body{
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 280px;
    background-color: #F6F4EB;
    text-align: center;
    box-shadow: 10px 10px 12px rgba(0, 0, 0, 5.0);
  }

  .card-body h2{
    font-family: 'DM Serif Display', serif;
    letter-spacing: 1px;
    margin: -10px;
    text-align: center;
   

  }

  .card-body p{
    font-family: 'Rubik', sans-serif;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    font-size: small;
  }

.hack{
margin-bottom: 20px;
margin-top: 20px;
}

.prev{
   position: relative;
}

.name{
 
    color: black;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 15px 10px;
    transition: .5s;
}

.card span{
  font-size: 21px;
}

.s1info,.s1info2,.old{
  background-color: #f0f3f8; 
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 0 auto;
}
.old{
  height: 50px;
  justify-content: center;
  text-align: center;
  width: 500px;
  margin-left: 50px;
  margin-bottom: 10px;
  padding: 10px;

}



.s1info h1 ,.s1info2 h1,.old h1{
  color: #29465f; 
  font-size: x-large;
  
}

.s1info p ,.s1info2 p{
  font-size: 18px;
  color: #6e7f91; 
  
  
}

.hackblue{
  background-color:#2E5984;
  border-radius: 5px;
  width: 94%;
  margin-left: 50px;
  height: 350px;
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  
  padding: 20px
}

.hackblue h1{
  color: white;
}

.hackblue img {
  justify-content: space-around;
  
}

.hackslide{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider {
  width: 500px;
  height: 300px;
  margin-left: 50px;
  margin-right: auto;
  margin-top: 0px;
  text-align: center;
  overflow: hidden;
}
.image-container {
  width: 4500px;
  height: 300px;
  clear: both;
  position: relative;
  -webkit-transition: left 2s;
  -moz-transition: left 2s;
  -o-transition: left 2s;
  transition: left 2s;
  border-radius: 5px;
}

.image-container img{
  border-radius: 5px;
}
.slide {
  float: left;
  margin: 0px;
  padding: 0px;
  position: relative;
}
#slide-1:target ~ .image-container {
  left: 0px;
}
#slide-2:target ~ .image-container {
  left: -500px;
}
#slide-3:target ~ .image-container {
  left: -1000px;
}
#slide-4:target ~ .image-container {
  left: -1500px;
}
#slide-5:target ~ .image-container {
  left: -2000px;
}
#slide-6:target ~ .image-container {
  left: -2500px;
}
#slide-7:target ~ .image-container {
  left: -3000px;
}
#slide-8:target ~ .image-container {
  left: -3500px;
}
#slide-9:target ~ .image-container {
  left: -4000px;
}
.buttons {
  position: relative;
  top: -20px;
}
.buttons a {
  display: inline-block;
  height: 15px;
  width: 15px;
  border-radius: 50px;
  background-color: white;
}
.buttons a:hover{background-color:#2E5984;}
.hackslide,
.s1info,.s1info2{
 
float: left; 
} 


.s1info,.s1info2{
width: 20%;
justify-content: center;
margin-left: 30px;
height: 360px;}

.s1info2{
width: 35%;
}

.old,.slide{display: inline-block;}
